/* Add CSS Styling */
#blue-text {
    color: rgb(71, 85, 240);
    font-size: 36px;
}

.med-font {
    font-size: 24px;
}

.pink-back {
    background-color: hsl(340, 55%, 79%);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#green {
    background-color: hsl(150, 54%, 82%);
    font-weight: 700;
}